extends ./layout.pug
block content
  .clock
    .clock-face.h-100
      .hand.hour-hand
        img(src="./images/hour-hand.svg", alt="")
      .hand.min-hand
        img(src="./images/minute-hand.svg", alt="")
      .hand.sec-hand
        img(src="./images/second-hand.svg", alt="")
      